@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

footer{
    flex: 1;
    background-color: #f1ab07;
    font-family: 'PT Sans';
    color: #07191F;

    
}
li{
    color: black;
}