body {
  background-color: #fbfbe6;
}
.logomarca {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}
.login {
  display: flex;
  justify-content: center;
}

.login ul {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 30px;
  list-style: none;
  color: #825b02;
  font-size: 20px;
  height: 20px;
  width: 100px;
  border-radius: 6px;
}

.botao {
  padding-inline-start: 10px;
  text-decoration: none;
  text-transform: uppercase;
  background: #f1ac0b;
  padding: 5px 12px;
  border-radius: 6px;
  margin-left: 20px;
  font-size: 16px;
  color: black;
}
.botao:hover {
  background: #aa7a0a;
}
@media (max-width: 600px) {
  .login ul {
    display: inline-block;
    flex-wrap: wrap;
    justify-content: center;
  }
  .logomarca {
    display: block;
  margin-bottom: 30px;
  }
  .botao{
display: flex;
margin-top: 10px;
align-items: center;
  }
}
